tiedonsiirto/src/main/resources/toinenaste/TiedonSiirtoToinenAsteService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="TiedonSiirtoToinenAsteService"
                  targetNamespace="http://service.henkilo.sade.vm.fi/"
                  xmlns:perusopetus="http://service.henkilo.sade.vm.fi/types/perusopetus"
                  xmlns:henkilotiedot="http://service.henkilo.sade.vm.fi/types/perusopetus/henkilotiedot"
                  xmlns:arvosanat="http://service.henkilo.sade.vm.fi/types/perusopetus/arvosanat"
                  xmlns:hakijat="http://service.henkilo.sade.vm.fi/types/perusopetus/hakijat"
                  xmlns:tns="http://service.henkilo.sade.vm.fi/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:types>
        <xsd:schema targetNamespace="http://service.henkilo.sade.vm.fi/types/perusopetus">
            <!-- must be in own namespace because perusopetusHenkiloTiedot and perusopetusArvosanat has to have different ROWSET/ROW elements -->
            <xsd:import namespace="http://service.henkilo.sade.vm.fi/types/perusopetus/henkilotiedot" schemaLocation="perusopetusHenkiloTiedot.xsd"/>
            <xsd:import namespace="http://service.henkilo.sade.vm.fi/types/perusopetus/arvosanat" schemaLocation="perusopetusArvosanat.xsd"/>
            <xsd:import namespace="http://service.henkilo.sade.vm.fi/types/perusopetus/hakijat" schemaLocation="hakijat.xsd"/>
            <xsd:element name="genericResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="responseMessage" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                        <xsd:element name="successRowCount" minOccurs="1" maxOccurs="1" type="xsd:integer"/>
                        <xsd:element name="errorRowCount" minOccurs="1" maxOccurs="1" type="xsd:integer"/>
                        <xsd:element name="errorRow" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="hetu" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                    <xsd:element name="errorMessage" minOccurs="0" maxOccurs="1" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="genericFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="errorCode" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                        <xsd:element name="errorMessage" minOccurs="1" maxOccurs="1" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="genericResponse">
        <wsdl:part name="response" element="perusopetus:genericResponse"/>
    </wsdl:message>

    <wsdl:message name="genericFault">
        <wsdl:part name="fault" element="perusopetus:genericFault"/>
    </wsdl:message>

    <wsdl:message name="importHenkilotiedotRequest">
        <wsdl:part name="data" element="henkilotiedot:ROWSET"/>
    </wsdl:message>

    <wsdl:message name="importArvosanatRequest">
        <wsdl:part name="data" element="arvosanat:ROWSET"/>
    </wsdl:message>

    <wsdl:message name="exportHakijatRequest">
        <wsdl:part name="parameters" element="hakijat:hakijatRequestParametersType"/>
    </wsdl:message>

    <wsdl:message name="exportHakijatResponse">
        <wsdl:part name="hakijat" element="hakijat:Hakijat"/>
    </wsdl:message>

    <wsdl:portType name="TiedonSiirtoToinenAsteService">
        <wsdl:documentation><!-- TODO: --></wsdl:documentation>

        <wsdl:operation name="importHenkilotiedot">
            <wsdl:documentation><!-- TODO: --></wsdl:documentation>
            <wsdl:input message="tns:importHenkilotiedotRequest"/>
            <wsdl:output message="tns:genericResponse"/>
            <wsdl:fault name="fault" message="tns:genericFault"/>
        </wsdl:operation>

        <wsdl:operation name="importArvosanat">
            <wsdl:documentation><!-- TODO: --></wsdl:documentation>
            <wsdl:input message="tns:importArvosanatRequest"/>
            <wsdl:output message="tns:genericResponse"/>
            <wsdl:fault name="fault" message="tns:genericFault"/>
        </wsdl:operation>

        <wsdl:operation name="exportHakijat">
            <wsdl:documentation><!-- TODO: --></wsdl:documentation>
            <wsdl:input message="tns:exportHakijatRequest"/>
            <wsdl:output message="tns:exportHakijatResponse"/>
            <wsdl:fault name="fault" message="tns:genericFault"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="TiedonSiirtoToinenAsteServiceSoapBinding" type="tns:TiedonSiirtoToinenAsteService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="importHenkilotiedot">
            <soap:operation soapAction="http://service.authentication.sade.vm.fi/importHenkilotiedot"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="importArvosanat">
            <soap:operation soapAction="http://service.authentication.sade.vm.fi/importArvosanat"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="exportHakijat">
            <soap:operation soapAction="http://service.authentication.sade.vm.fi/exportHakijat"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault use="literal" name="fault"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="TiedonSiirtoToinenAsteService">
        <wsdl:port binding="tns:TiedonSiirtoToinenAsteServiceSoapBinding" name="TiedonSiirtoToinenAsteServicePort">
            <soap:address location="http://localhost:8080/tiedonsiirto/cxf/TiedonSiirtoToinenAsteService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
